[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
markdown = "*"
pelican = "==4.0.1"
bs4 = "*"
python-gettext = "*"
ghp-import = "*"
typogrify = "*"
mdx-del-ins = {editable = true,git = "https://github.com/Lee-W/mdx_del_ins"}

[requires]
python_version = "3.7"
